In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Port Alfred,ZA,2022-09-13 18:00:12,-33.5906,26.8910,57.18,90,1,2.19
1,1,Okulovka,RU,2022-09-13 18:00:13,58.4008,33.2908,47.08,79,20,4.65
2,2,Arraial Do Cabo,BR,2022-09-13 18:00:14,-22.9661,-42.0278,71.29,87,34,11.65
3,3,Souillac,MU,2022-09-13 18:00:14,-20.5167,57.5167,69.82,78,34,9.10
4,4,Cape Town,ZA,2022-09-13 17:58:02,-33.9258,18.4232,61.21,83,0,13.80

In [3]:
# Check for data types of columns to be mapped: they should be float or int
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent clouds
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of windspeed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Vila Velha,BR,2022-09-13 18:00:02,-20.3297,-40.2925,78.94,67,3,15.01
6,6,Hun,LY,2022-09-13 18:00:15,29.1268,15.9477,89.28,29,0,10.04
9,9,Cedar Lake,US,2022-09-13 18:00:03,41.3648,-87.4411,75.85,77,65,7.47
11,11,Middle Island,US,2022-09-13 18:00:18,40.8843,-72.9373,85.41,79,31,1.01
15,15,Georgetown,MY,2022-09-13 17:57:00,5.4112,100.3354,80.89,88,20,3.44
16,16,Kalmunai,LK,2022-09-13 18:00:20,7.4167,81.8167,80.37,76,100,9.71
22,22,Mbanza-Ngungu,CD,2022-09-13 18:00:23,-5.2500,14.8667,79.59,50,80,8.90
33,33,Victoria,HK,2022-09-13 17:55:45,22.2855,114.1577,89.19,67,10,5.99
37,37,Cabedelo,BR,2022-09-13 18:00:34,-6.9811,-34.8339,79.18,75,80,14.67
39,39,Pachora,IN,2022-09-13 18:00:35,20.6667,75.3500,75.74,92,100,4.79

In [11]:
preferred_cities_df.count()

City_ID       180
City          180
Country       178
Date          180
Lat           180
Lng           180
Max Temp      180
Humidity      180
Cloudiness    180
Wind Speed    180
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
5      Vila Velha      BR     78.94 -20.3297  -40.2925
6             Hun      LY     89.28  29.1268   15.9477
9      Cedar Lake      US     75.85  41.3648  -87.4411
11  Middle Island      US     85.41  40.8843  -72.9373
15     Georgetown      MY     80.89   5.4112  100.3354
16       Kalmunai      LK     80.37   7.4167   81.8167
22  Mbanza-Ngungu      CD     79.59  -5.2500   14.8667
33       Victoria      HK     89.19  22.2855  114.1577
37       Cabedelo      BR     79.18  -6.9811  -34.8339
39        Pachora      IN     75.74  20.6667   75.3500

In [14]:
# Get hotel names using nearby search of Google places API
# Params to URL : API key, Lat and lng, radius, type of place

# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [15]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
5,Vila Velha,BR,78.94,-20.3297,-40.2925,Hotel Vitória Palace
6,Hun,LY,89.28,29.1268,15.9477,Alrwasi Hotel
9,Cedar Lake,US,75.85,41.3648,-87.4411,Cedar Lake Ministries RV Park
11,Middle Island,US,85.41,40.8843,-72.9373,Cathedral pines
15,Georgetown,MY,80.89,5.4112,100.3354,Cititel Penang

In [20]:
# Add pop up info to each marker
info_box_template = """
<dl>
    <dt>Hotel Name:</dt><dd>{Hotel Name}</dd>
    <dt>City:</dt><dd>{City}</dd>
    <dt>Country:</dt><dd>{Country}</dd>
    <dt>Max Temp:</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [21]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat","Lng"]]
max_temp = hotel_df["Max Temp"]

# Get the fig object
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)

# Set the heat layer and marker layer
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)

# Add layers to fig
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))